body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: blue;
}

.TablesContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.MyTexts{
  color: white;
}

.TableItem{
  width: 50%;
  background-color: yellow;
}

.OneTable{
  background-color: salmon;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}

